/* body {
	margin: 0;
}

#explore-container {
	position: absolute;
	top: 0;
}

#generate-container {
	position: absolute;
	top: 0;
} */

html,
body {
	margin: 0;
	height: 100%;
}

#app {
	width: 100%;
	height: 100%;
	display: block;
}
